<div>
    <h2 class="text-center" style="margin-top: 2%;">Partagez ici.</h2>

    <form action="addComment" method="post">
    <ul class="form-style-1">
        <li>
            <label for="senderName">Votre pseudonyme</label>
            <input class="field-large" type="text" required name="senderName" id="senderName">
        </li>
        <li>
            <label for="content">Votre commentaire</label>
            <textarea class="field-large" rows="10" cols="50" placeholder="Maximum 200 caractères" required name="content" id="content"></textarea>
        </li>
        <li class=" text-center">
            <input class="btn-link btn-flat" type="submit" name="envoi" value="Envoi">
        </li>
    </ul>
</form>
    <div>
        {% for com in listcom %}
            Nom: {{com.senderName}}<br>
            Message: {{com.content}}<br>
            Posté le {{com.created_at|date('d/m/Y')}} à {{com.created_at|date_modify('+ 1 hour')|date('H:i:s')}} (UTC+1)<br><br>
        {% endfor %}
    </div>
</div>