<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Mecado</title>
    <link href="style/Mecado.css" rel="stylesheet">
    <link href="style/scss/main.css" rel="stylesheet">
</head>
<body>

{%include('header.twig')%}
{%include('navbar.twig')%}


<div>
    <h2 class="text-center" style="margin-top: 2%;">Vous pouvez créer votre liste, ici.</h2>

<form action="{{ url_form }}" method="post">
    {%  if erreurs|length > 0 %}
        <div>
            {% for error in erreurs %}
                <div class="alert-danger"><p>{{ error }}</p></div>
            {% endfor %}
        </div>

    {% endif %}
    <ul class="form-style-1">
        <li>
            <label for="title">Votre Titre</label>
            <input class="field-long" type="text" class="form-control" required name="title" id="title">
        </li>
        <li>
            <label for="description">Votre description</label>
            <textarea class="field-long" type="text" class="form-control" rows="5" required name="description" id="description"></textarea>

        </li>
        <li>
            <label for="validityDate">Votre date de validité</label>
            <input type="date" required name="validityDate" id="validityDate">
        </li>
        <li>
            <label><input type="checkbox" name="checkbox" value="offrir">A offrir</label>
        </li>
        <li class=" text-center">
            <input class="btn-link" type="submit" name="envoi" value="Envoyer">
        </li>

    </ul>

</form>
</div>
</body>

</html>