<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Mecado</title>
    <link href="style/Mecado.css" rel="stylesheet">
    <link href="style/scss/main.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>

<body>
<header>
    <div class="header">
        <h1>Mecado</h1>
        <div>
            <p>bonjour {{ creator.name }}</p>
        </div>
        <a href="/disconnect" class="btn btn-small">Se deconnecter</a>
    </div>

</header>
<nav>
    <ul class="navbar bcg">
        <li><a href="/creatList">Créer liste</a></li>
        <li><a href="#">Visualiser liste</a></li>
        <li><a href="#">partager liste</a></li>
        <li><a href="#">AIDE</a></li>
    </ul>
</nav>
</body>

</html>
