<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Mecado</title>
    <link href="style/Mecado.css" rel="stylesheet">
    <link href="style/scss/main.css" rel="stylesheet">
</head>

<body>
<header>
    <div class="header">
        <h1>Mecado</h1>
        <div>
            <p>bonjour {{ creator.name }}</p>
        </div>
        <a href="/disconnect" class="btn btn-small">Se deconnecter</a>
    </div>

</header>
<nav>
    <ul class="navbar bcg">
        <li><a href="#">Créer liste</a></li>
        <li><a href="#">partager liste</a></li>
        <li><a href="#">AIDE</a></li>
    </ul>
</nav>

<h2>Voici toutes vos listes</h2>
<div>
    
</div>
</body>

</html>
