
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Framework</title>
	<link href="style/Mecado.css" rel="stylesheet">
	<link href="style/scss/main.css" rel="stylesheet">
</head>
<body>

{%include('header.twig')%}


<div>
<h2 class="text-center" style="margin-top: 2%;">Inscrivez vous, des maintenant.</h2>

<form action="{{ url_form }}" method="post">
	{%  if erreurs|length > 0 %}
		<div>
			{% for error in erreurs %}
				<div class="alert-danger"><p>{{ error }}</p></div>		{% endfor %}
		</div>

	{% endif %}
	<ul class="form-style-1">
		<li>
			<label for="name">Votre nom</label>
			<input class="field-long" type="text" required name="name" id="name" placeholder="Name">
		</li>
		<li>
			<label for="firstName">Votre prénom</label>
			<input class="field-long" type="text" required name="firstName" id="firstName"  placeholder="Firstname">
		</li>
		<li>
			<label for="mail">Votre email</label>
			<input class="field-long" type="email" required name="mail" id="mail" placeholder="email">
		</li>
		<li>
			<label for="password">Votre mot de passe</label>
			<input class="field-long" type="password" required name="password" id="password">
		</li>
		<li class=" text-center">
			<input class="btn-link btn-flat" type="submit" name="envoi" value="S'incrire">
		</li>

		</ul>

</form>
	<hr style="height: 1px;">
	<div class="row ">
		<p class="small" style="margin: 1% 1%">Déjà inscrit ? Il ne vous reste plus qu'a vous connecter ! </p>
		<a style="margin-bottom: 1%;" href="/signin" class=" no-link btn-small btn-link">Se connecter</a>
	</div>
</div>
</body>
</html>