
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Framework</title>
	<link rel="stylesheet" href="framework.css">
</head>
<body>



<form action="{{ url_form }}" method="post">
	<div>
		<label for="name">Votre nom</label>
		<input type="text" required name="name" id="name">
	</div>
	<div>
		<label for="firstName">Votre prénom</label>
		<input type="text" required name="firstName" id="firstName">
	</div>
	<div>
		<label for="mail">Votre email</label>
		<input type="email" required name="mail" id="mail">
	</div>
	<div>
		<label for="password">Votre mot de passe</label>
		<input type="password" required name="password" id="password">
	</div>
	<div>
		<input type="submit" name="envoi" value="Envoyer">
	</div>
	{%  if erreurs|length > 0 %}
	<div>
		{% for error in erreurs %}
		<p>{{ error }}</p>
		{% endfor %}
	</div>

	{% endif %}
</form>
</body>
</html>